## Model Training Notebook

#### Importing libraries.

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score

In [40]:
from sklearn.preprocessing import FunctionTransformer

In [41]:
def flatten_sequences(X):
    return np.array([np.array(x).flatten() for x in X])

#### Loading dataset.

In [34]:
Train_40 = pd.read_csv(r'Data\train_data_40.csv')
Test_40 = pd.read_csv(r'Data\test_data_40.csv') 


Train_26 = pd.read_csv(r'Data\train_data_26.csv')
Test_26 = pd.read_csv(r'Data\test_data_26.csv')

In [35]:
Test_26

                                                 X_test2  y_test
0      [ 9891 13092 10570 32146     0     0     0    ...       1
1      [  890   100  6944 10570 32146     0     0    ...       2
2      [  191  7648  1523 20098     0     0     0    ...       1
3      [  27  148    4  405 8477    0    0    0    0 ...       2
4      [83667   760    16 74943     0     0     0    ...       1
...                                                  ...     ...
29540  [  250  2650 12210  9891     0     0     0    ...       0
29541  [9891   87 9891    0    0    0    0    0    0 ...       2
29542  [  293   391 10784 10784    66 41692    27    ...       0
29543  [  172  6338   762   172 21064  4034    36  12...       2
29544  [   10  6849   548    82    72 29730   270   1...       4

[29545 rows x 2 columns]

In [37]:
X_train  = Train_40['X_train']
y_train = Train_40['y_train']

X_test = Test_40['X_test']
y_test = Test_40['y_test']



X_train2  = Train_26['X_train2']
y_train2 = Train_26['y_train']

X_test2 = Test_26['X_test2']
y_test2 = Test_26['y_test']

In [48]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import f1_score
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense

# Read the CSV files
Train_40 = pd.read_csv(r'Data\train_data_40.csv')
Test_40 = pd.read_csv(r'Data\test_data_40.csv')

# Convert string representations to numpy arrays
import ast
import re

def preprocess_str_array(x):
    x = re.sub(r'(\d)\s+(\d)', r'\1, \2', x)
    return np.array(ast.literal_eval(x))

Train_40['X_train'] = Train_40['X_train'].apply(preprocess_str_array)
Test_40['X_test'] = Test_40['X_test'].apply(preprocess_str_array)

# Extract the features and labels
X_train = np.stack(Train_40['X_train'].values)
y_train = Train_40['y_train'].values

X_test = np.stack(Test_40['X_test'].values)
y_test = Test_40['y_test'].values

# One-hot encode the labels
one_hot_encoder = OneHotEncoder(sparse=False)
y_train_encoded = one_hot_encoder.fit_transform(y_train.reshape(-1, 1))
y_test_encoded = one_hot_encoder.transform(y_test.reshape(-1, 1))

# Define the model
model = Sequential([
    Embedding(input_dim=116958, output_dim=128, input_length=40),
    LSTM(128, return_sequences=True),
    LSTM(128),
    Dense(5, activation='softmax')
])

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train_encoded, epochs=10, batch_size=32, validation_split=0.2)

# Make predictions
pred = model.predict(X_test)

# Calculate the f1_score
pred_labels = np.argmax(pred, axis=1)
f1 = f1_score(y_test, pred_labels, average='macro')
print(f'F1 Score: {f1}')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<unknown>, line 1)